*, body{
    font-family: "Cairo", sans-serif!important;
}
.who-we-are,
.factories,
.eng-service .eng-head,
.refrigeration .cat-content,
.refrigeration .card-content .card .card-body,
.contact,
.footer.footer .links,
.navbar{
    direction: rtl;
}
.hamburger-inner:after{
    right: auto;
    left: 0;
}
.hamburger-inner:before{
    right: -7px;
    left: auto;
}
.who-we-are .who-content{
    text-align: right;
    margin-left: auto;
    margin-right: 150px;
}
.who-we-are .who-content h2:before,
.who-we-are .who-content h2:after
{
    left: auto;
    right: 0;
}
.factories .factories-options a:before{
    left: auto;
    right: 23px;
}
.eng-service .eng-head a,
.refrigeration .card-content .card .card-body h6{
    text-align: right;
}
.refrigeration .card-content .card .card-body button{
    margin-left: 0;
    margin-right: -10px;
}
.contact-img{
    margin-right: auto;
}
footer.footer .form p{
    text-align: right;
}
footer.footer .form button{
    float: left;
}
.footer-content{
    flex-direction: row-reverse;
}
footer.footer .footer-logo {
    border-left: 1px solid #fff;
    border-right: 0;
}
@media (max-width: 991px){
    .who-we-are .who-content {
        margin-right: 0;
        
    }
}
@media (max-width: 767px){
    .eng-service .eng-img {
        margin-top: 15px;
    }
}
